<!DOCTYPE html>
<html>
  <head>
    <title>WebpackRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/lodash.min.js"></script>
    <script src="/assets/moment.min.js"></script>
    <script src="/assets/react.min.js"></script>
    <script src="/assets/react-dom.min.js"></script>

    <%= stylesheet_link_tag    webpack_asset_path('style.css'), media: 'all' %>
    <%= javascript_include_tag webpack_asset_path('style.js') %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag webpack_asset_path('bundle.js') %>
  </body>
</html>
